.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 1px solid blue;
    height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 15px;
    font-family: Arial;
    text-transform: none;
    cursor: pointer;
}

.button:hover {
    border-color: #9ac7ec;
    color: #1782da;    
}